
/* Font family for entire page */
*{    
    font-family: 'Roboto', sans-serif;   
}

.navbar, .header{
    background-color: #1F2937;
    color:white;
    margin: auto;
    

}

.navbar{

}

.navbar h1{
    font-size: 24px;
    color: #F9FAF8;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap:15px;
    align-items: flex-start;
}

.header{
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
    display: flex;
}

.header h1{
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}

.header p{
    font-size: 18px;
    color: #e5e7eb

}

.header .placeholder{
    width: 350px;
    height: 250px;
    background-color: grey;
}


.midsection{
    margin: 100px 0px 100px 0px;

}
.midsection h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    
}

.container{
    display: flex;
    justify-content: center;
    gap:30px;
    padding-left: 150px;
    padding-right: 150px;

}


.midsection .item1,.item2,.item3,.item4{
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 8px;

}

.span-1{
    text-align: center;
    color: white;
    position: relative;

}

.btn, .flexitem3 {
    background-color: #3882f6;
}

.quote{
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    padding: 100px 150px 100px 150px;
}

.spantext{
    text-align: right;
    font-weight: bold;
    float: right;
}

.callcont{
    background-color: #3882f6;
    height: 100px;
    width: 800px;
    padding: 15px 30px 15px 30px;
    margin: auto;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

.flexitem1{

    flex: 1 1 auto;
    line-height: 0%;
    margin-left: 85px;
    margin-top: auto;
    margin-bottom: auto;

}

.flexitem1 p{
    color: #e5e7eb;
}


.flexitem3{
color: white;
border: 2px solid white;
border-radius: 5px;
margin: auto;
width: 100px;
height: 30px;
margin-top: auto;
margin-bottom: auto;
margin-right: 100px ;
}

footer{
    background-color: #1F2937;
    height: 75px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}